@font-face {
    font-family: 'Sitsiryesh';
    src: url('Sitsiryesh-Regular.eot');
    src: url('Sitsiryesh-Regular.eot?#iefix') format('embedded-opentype'),
         url('Sitsiryesh-Regular.woff2') format('woff2'),
         url('Sitsiryesh-Regular.woff') format('woff'),
         url('Sitsiryesh-Regular.ttf')  format('truetype'),
         url('Sitsiryesh-Regular.svg#Sitsiryesh') format('svg');
}
